<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taotao.manager.dao.ItemDao">

    <select id="getByCondition" parameterType="map" resultType="Item">
        select *
        from tb_item
        <if test="currentPage != null and pageSize != null">
            limit #{currentPage},#{pageSize}
        </if>
    </select>
    
    <select id="getCountByCondition" parameterType="map" resultType="int">
        select count(1) from tb_item
    </select>
</mapper>